<div class="page-container">
  <div class="page-header">
    <div>
      <h1 class="page-title">Ambulâncias</h1>
    </div>
    <div class="header-actions">
      <p-button label="Nova Ambulância" icon="pi pi-plus">
      </p-button>
    </div>
  </div>

  <div class="table-wrapper">
    <p-table #dt [value]="ambulancias" [paginator]="true" [rows]="10"
             [lazy]="true" (onLazyLoad)="carregarTabela($event)" [totalRecords]="totalElementos"
             [rowHover]="ambulancias.length > 0"
             stripedRows>
      <ng-template #caption>
        <div class="table-header">
          <p-iconfield iconPosition="left" style="flex: 1; position: relative">
            <p-inputicon class="pi pi-search"/>
            <input
              pInputText
              type="text"
              placeholder="Buscar por placa ou base"
              [(ngModel)]="termoBusca"
              (input)="filtrarTabela()"
              style="width: 100%; padding-right: 3rem;"
            />
              <p-button
                icon="pi pi-times"
                severity="danger"
                [text]="true"
                [outlined]="true"
                class="limpar-btn"
                [class.aparecer]="termoBusca"
                (onClick)="limparBusca()"
                pTooltip="Limpar busca"
              >
              </p-button>
          </p-iconfield>


          <p-button
            label="Limpar Ordenação"
            icon="pi pi-sort-alt-slash"
            severity="secondary"
            [outlined]="true"
            (onClick)="limparOrdenacao(dt)"
            disabled="{{dt.sortField == null}}"
          >
          </p-button>
        </div>
      </ng-template>
      <ng-template #header>
        <tr>
          <th pSortableColumn="placa">Placa
            <p-sortIcon field="placa"></p-sortIcon>
          </th>
          <th pSortableColumn="tipo">Tipo
            <p-sortIcon field="tipo"></p-sortIcon>
          </th>
          <th pSortableColumn="status">Status
            <p-sortIcon field="status"></p-sortIcon>
          </th>
          <th pSortableColumn="bairro.nome">Base Vinculada
            <p-sortIcon field="bairro.nome"></p-sortIcon>
          </th>
          <th class="acoes">Ações</th>
        </tr>
      </ng-template>
      <ng-template #body let-ambulancia>
        @if (carregando) {
          <tr>
            <td>
              <p-skeleton></p-skeleton>
            </td>
            <td>
              <p-skeleton></p-skeleton>
            </td>
            <td>
              <p-skeleton></p-skeleton>
            </td>
            <td>
              <p-skeleton></p-skeleton>
            </td>
            <td>
              <p-skeleton></p-skeleton>
            </td>
          </tr>
        } @else {
          <tr>
            <td>{{ ambulancia.placa }}</td>
            <td>{{ getTipoLabel(ambulancia.tipo) }}</td>
            <td>
              <p-tag [value]="getStatusLabel(ambulancia.status)"
                     [severity]="getSeverityStatus(ambulancia.status)"></p-tag>
            </td>
            <td>
              <div class="bairro-cell">
                <i class="pi pi-map-marker icon-muted"></i>
                <span>{{ ambulancia.bairro?.nome }}</span>
              </div>
            </td>
            <td class="actions-column">
              <p-button
                icon="pi pi-pencil"
                [text]="true"
                severity="info"
                pTooltip="Editar"
              >
              </p-button>
              <p-button
                icon="pi pi-trash"
                [text]="true"
                severity="danger"
                pTooltip="Excluir">
              </p-button>
            </td>
          </tr>
        }
      </ng-template>
      <ng-template #emptymessage>
        @if (!carregando) {
          <tr>
            <td colspan="5">
              <div class="empty-state">
                <i class="pi pi-car empty-icon"></i>
                <p class="empty-text">Nenhuma ambulância cadastrada</p>
              </div>
            </td>
          </tr>
        }
      </ng-template>
    </p-table>

  </div>
</div>
