<p-toast position="top-center"></p-toast>
<p-confirm-dialog></p-confirm-dialog>

<div class="table-header" style="padding-bottom: 1rem;">
  <p-iconfield iconPosition="left" style="flex: 1; position: relative; ">
    <p-inputicon class="pi pi-search"/>
    <input
      pInputText
      type="text"
      placeholder="Buscar por nome do profissional ou placa"
      [(ngModel)]="termoBusca"
      (input)="filtrar()"
      style="width: 100%; padding-right: 3rem;"
    />
    @if (termoBusca) {
      <p-button
        icon="pi pi-times"
        severity="danger"
        [text]="true"
        [outlined]="true"
        class="limpar-btn"
        (onClick)="limparBusca()"
        pTooltip="Limpar busca">
      </p-button>
    }
  </p-iconfield>

  <p-selectButton [options]="ativasFiltro" [(ngModel)]="ativasSelecao" (onChange)="filtrar()"></p-selectButton>
  <p-selectButton [options]="tipoFiltro" [(ngModel)]="tipoSelecao" (onChange)="filtrar()"></p-selectButton>
  <p-button label="Nova Equipe" icon="pi pi-plus" (onClick)="abrirCadastro()"></p-button>
</div>

<div class="equipes-grid">
  @for (equipe of equipes; track equipe.id) {
    <div class="equipe-card" [ngClass]="{'equipe-card-inativa': !equipe.ativo}">

      <div class="card-header" [ngClass]="equipe.ambulancia?.tipo === tipoUTI ? 'header-uti' : 'header-basica'">
        <p-tag [value]="tipoLabel[equipe.ambulancia.tipo] || equipe.ambulancia.tipo"
               [severity]="equipe.ambulancia.tipo === TipoAmbulancia.UTI ? 'contrast' : 'info'"></p-tag>
        <h3 class="placa">{{ equipe.ambulancia.placa }}</h3>
        <p-tag icon="pi pi-circle-on" [value]="equipe.ativo ? 'Ativa' : 'Inativa'"
               [severity]="equipe.ativo ? 'success' : 'secondary'"></p-tag>
      </div>

      <div class="card-body">
        <div class="card-content">
          @for (prof of getProfissionaisOrdenados(equipe.profissionais); track prof.id) {
            <div class="profissionais-row">
              <span class="profissional-nome">{{ prof.nome }}</span>
              <span class="profissional-separador"> - </span>
              <span class="profissional-funcao">{{ funcaoLabel[prof.funcao!] || prof.funcao }}</span>
            </div>
          }
        </div>

        <div class="team-footer">
          <p-button
            [label]="equipe.ativo ? 'Desativar' : 'Ativar'"
            [icon]="equipe.ativo ? 'pi pi-power-off' : 'pi pi-check-circle'"
            [severity]="equipe.ativo ? 'danger' : 'success'"
            [text]="true"
            size="small">
          </p-button>
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            outlined="true"
            severity="info">
          </p-button>

        </div>
      </div>

    </div>
  }
</div>

@if (totalElementos > 0) {
  <div style="margin-top: 1.5rem">
    <p-paginator (onPageChange)="mudarPagina($event)"
                 [first]="paginaAtual*tamanhoPagina"
                 [rows]="tamanhoPagina"
                 [totalRecords]="totalElementos">
    </p-paginator>
  </div>
}

<!--<p-dialog [header]=" idEditando ?
    'Editar Equipe' : 'Criar Equipe'" [modal]="true"-->
<!--          [(visible)]="cadastroVisivel" (onHide)="fecharCadastro()"-->
<!--          [draggable]="false" [style]="{ width: '50vw' }">-->
<!--  <form #cadastroForm="ngForm" (ngSubmit)="salvarEquipe()" class="form-container">-->
<!--    <div class="form-item">-->
<!--      <label for="nome">Nome*</label>-->
<!--      <input pInputText id="nome" name="nome" type="text" [(ngModel)]="profissionalCadastrado.nome"-->
<!--             placeholder="Xin Jin Ping" required #nomeVar="ngModel"-->
<!--             [ngClass]="{'ng-invalid ng-dirty': nomeVar.invalid && nomeVar.touched}">-->
<!--      @if (nomeVar.invalid && nomeVar.touched) {-->
<!--        <small class="error-message">O nome é obrigatório.</small>-->
<!--      }-->
<!--    </div>-->

<!--    <div class="form-item">-->
<!--      <label for="funcao">Função</label>-->
<!--      <p-select id="funcao" name="funcao" [options]="funcoes" [(ngModel)]="profissionalCadastrado.funcao"-->
<!--                placeholder="Selecione" optionLabel="label" optionValue="value" appendTo="body"-->
<!--                required #funcaoVar="ngModel"-->
<!--                [ngClass]="{'ng-invalid ng-dirty': funcaoVar.invalid && (funcaoVar.touched || funcaoVar.dirty)}">-->
<!--      </p-select>-->
<!--      @if (funcaoVar.invalid && (funcaoVar.dirty || funcaoVar.touched)) {-->
<!--        <small class="error-message">A função é obrigatória.</small>-->
<!--      }-->
<!--    </div>-->

<!--    <div class="form-item">-->
<!--      <label for="email">Email</label>-->
<!--      <input pInputText id="email" name="email" type="email" email="true" [(ngModel)]="profissionalCadastrado.contato"-->
<!--             placeholder="xinjinping@gmail.com" required #emailVar="ngModel"-->
<!--             [ngClass]="{'ng-invalid ng-dirty': emailVar.invalid && (emailVar.touched || emailVar.dirty)}">-->
<!--      @if (emailVar.invalid && emailVar.touched) {-->
<!--        @if (emailVar.errors?.['required']) {-->
<!--          <small class="error-message">O email é obrigatório.</small>-->
<!--        }-->
<!--        @if (emailVar.errors?.['email']) {-->
<!--          <small class="error-message">Digite um endereço de email válido.</small>-->
<!--        }-->
<!--      }-->
<!--    </div>-->
<!--    <div class="form-actions">-->
<!--      <p-button label="Cancelar" severity="secondary" (onClick)="fecharCadastro()"></p-button>-->
<!--      <p-button label="Salvar" type="submit" [disabled]="cadastroForm.invalid || semAlteracoes"></p-button>-->
<!--    </div>-->
<!--  </form>-->
<!--</p-dialog>-->
